<style type="text/CSS">

.soar {
}

.j1text {
align:center;
background: #1e1b18;
border: 1px solid #3d3324;
background-color:#13100e;
width:590px;
box-shadow:0px 0px 30px #272219;
height:500px;
opacity: 1;
  transition:1s;
  transition-delay:0.5s;
}

.j1header {
text-align:left;
  padding-left:360px;
 padding-top:20px;
  font-family:homemade apple;
  text-transform:lowercase;
  letter-spacing:2px;
  text-shadow:0px 0px 20px #5b4f3b;
  font-style:italic;
  font-size:24px;
color:#54746f;
opacity: 0;
  transition:1s;
  transition-delay:0.7s;
}
.j1quote {
   width:200px;
  margin-top:-14px;
  padding-bottom:40px;
text-align:left;
  margin-left:440px;
  font-family:georgia;
  text-transform:uppercase;
  letter-spacing:2px;
  padding-left:10px;
  text-shadow:1px 1px 10px #000;
  font-size:7px;
color:#565149;
opacity: 0;
  transition:2s;
  transition-delay:1s;
}

.j1img{
  margin-top:-95px;
  margin-right:0px;
    transition:3s;
  transition-delay:0.3s;
}

.j1ptext {
   margin-top:-400px;
  margin-left:280px;
background-color: #13100e;
opacity:0.9;
padding:10px;
height:370px;
  width:255px;
transition:0.6s;
overflow:auto;
color: #57524a;
font-family:georgia;
font-size:11.5px;
text-align:justify;
word-spacing:3px;
letter-spacing:0.5px;
line-height:13.5px;
text-align:justify;
background-position: left;
opacity: 0;
    transition:1s;
  transition-delay:0.2s;
}
.j1text:hover .j1quote {
 opacity:1;
  transition:1s;
    transition-delay:1.3s;
}
.j1text:hover .j1header {
 opacity:1;
  transition:1s;
  transition-delay:0.9s;
}

.j1text:hover .j1img{
  margin-top:-95px;
  margin-right:250px;
    transition:3s;
  transition-delay:0.2s;
}

.j1text:hover .j1ptext {
   margin-top:-400px;
  margin-left:280px;
background-color: #13100e;
opacity:0.9;
padding:10px;
height:370px;
  width:255px;
transition:0.6s;
overflow:auto;
color: #57524a;
font-family:georgia;
font-size:11.5px;
text-align:justify;
word-spacing:3px;
letter-spacing:0.5px;
line-height:13.5px;
text-align:justify;
background-position: left;
  transition:1s;
    transition-delay:1.2s;
}
.j1speaktext {
  font-family:georgia;font-size:12px;color:#54746f;font-style:italic;letter-spacing:-0px;font-weight:normal;text-align:left;text-shadow: 1px 1px 0px #000;
}
</style>
