.obliviontable { 
  width:530px; 
  border:3px solid #01000a;
  padding-top:110px;
  background-color:#01000a; 
  background-image:url('https://i.imgur.com/GdYHFjE.png');
  background-position: top center; 
  background-size:100%;
  background-repeat:no-repeat;
    transition:2s;}

.obliviontable:hover {
    background-image:url('https://i.imgur.com/GdYHFjE.png');
  background-position: top center;   
  background-size:103%;
    background-repeat:no-repeat;
transition:2s;}

.oblivion1name {
    padding-top:330px;
  font-family:garamond;
  font-size:35px;
  color:#aa7951;
  letter-spacing:12px;
  text-transform:lowercase;
  font-style:italic;
  padding-bottom:0px;
  opacity:1;
    transition:2.5s;
  transition-delay:1.8s;}

.oblivion2name {
  margin-bottom:5px;
  font-family:garamond;
  font-size:35px;
  color:#aa7951;
  letter-spacing:8px;
  text-transform:lowercase;
  padding-bottom:0px;
    transition:2.5s;
  transition-delay:1s;
  opacity:0;
  margin-top:-63px;
  font-style:italic;} 

.obliviontable:hover .oblivion1name{
  opacity:0;
  color:#e07fc2;
    transition:2.5s;
  transition-delay:1s;}

.obliviontable:hover .oblivion2name{
  opacity:1;
  color:#e07fc2;
    transition:2.5s;
    font-style:italic;
  transition-delay:1.8s;}

.oblivionquote {
  font-family:georgia;
  font-size:7px;
  color:#fff;
  opacity:0.6;
  letter-spacing:3px;
  text-transform:uppercase;
  margin-bottom:18px;} 
